body {
  background-image: url(../img/Thunderstorms.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
  text-transform: uppercase;
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
}
.container {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  max-width: 50%;
  margin: 0 auto;
}
form {
  display: inline;
  margin: 0 auto;
  max-width: 80%;
}
div {
  font-size: 34px;
}
.current-city {
  text-align: center;
  letter-spacing: 20px;
  font-size: 50px;
}
.date-time {
  letter-spacing: 10px;
  padding-top: 15px;
}
#currentTemp {
  font-size: 120px;
  padding-top: 40px;
}
h4 {
  text-align: center;
}
a {
  text-decoration: none;
}
.current-weather,
.current-factors {
  letter-spacing: 2px;
}
.current-factors {
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 65%;
  margin: 0 auto;
  justify-content: left;
}
.weather-content {
  margin-bottom: 30px;
}
a:hover,
.card-title {
  color: rgba(1, 1, 1, 0.4);
}
a {
  color: rgba(1, 1, 1);
}
.date-time,
.current-factors div,
.card-title {
  font-size: 18px;
}
.row {
  height: fit-content;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
img,
.card {
  border-radius: 50px;
  object-fit: cover;
}
img {
  width: 60px;
  height: 60px;
}
.card {
  padding: 9px;
  background-color: transparent;
  width: 80%;
  height: 80px;
  margin: 0 auto;
}
.credit {
  font-size: 15px;
  position: static;
  opacity: 0.4;
}
